{% extends "layout.html" %}

{% block title %}
    Library
{% endblock %}

{% block main %}

<h1>Your Liked Games</h1>
<div class="gameResults">
    {% for game in liked_games %}
        <div class="gameCard">
            <img src="{{ game.thumbnail }}" alt="{{ game.title }}">
            <h3>{{ game.title }}</h3>
            <form method="post" action="/unlike">
                <input type="hidden" name="game_id" value="{{ game.id }}">
                <button type="submit" class="unlike-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-broken" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01z"/>
                    </svg>
                </button>
            </form>
            <p>{{ game.short_description }}</p>
            <a href="{{ game.game_url }}" target="_blank">Get this game</a>
        </div>
    {% endfor %}
</div>
<hr>
<h2>Recommended Games</h2>
<div class="gameResults">
    {% if recommended_games %}
        {% for game in recommended_games %}
            <div class="gameCard">
                <img src="{{ game.thumbnail }}" alt="{{ game.title }}">
                <h3>{{ game.title }}</h3>
                <p>{{ game.short_description }}</p>
                <a href="{{ game.game_url }}" target="_blank">Get this game</a>
            </div>
        {% endfor %}
    {% else %}
        <p>No recommendations available yet. Like some games to get started!</p>
    {% endif %}
</div>
{% endblock %}
